@model List<lab1.Models.TblNotasEstudiante>
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado</h2>

<div>

    <div>
        <table class="table table-dark table-striped">

            <thead>
            <th>

                NOMBRE DEL ALUMNO

            </th>
            <th>
                NOTA LAB 1

            </th>
            <th>
                NOTA LAB 2

            </th>
            <th>
                NOTA LAB 3

            </th>
            <th>
                NOTA PAR 1

            </th>
            <th>
                NOTA PAR 2

            </th>
            <th>
                NOTA PAR 3

            </th>
            <th>
                TOTAL DE SU NOTA

            </th>



            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Alumno</td>
                        <td>@item.lab1</td>
                        <td>@item.lab2</td>
                        <td>@item.lab3</td>
                        <td>@item.par1</td>
                        <td>@item.par2</td>
                        <td>@item.par3</td>
                        <td>@item.total</td>
                        
                    </tr>

                }


            </tbody>
        </table>
    </div>
</div>

